!
! Addressing Configuration
!

{# ---------------- Determine if we need ip routing (MSW only) ---------------- #}
{% set needIpRouting = false %}
{% if switchType == "msw" %}
  {# mgmt SVI counts as L3 only if it actually has IP or default route #}
  {% if management and (management.ipAddress or management.defaultRouteNextHop) %}
    {% set needIpRouting = true %}
  {% endif %}

  {% if vlanInterfaces %}
    {% for svi in vlanInterfaces %}
      {% if svi.ipAddress %}
        {% set needIpRouting = true %}
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if interfaces %}
    {% for iface in interfaces %}
      {% if iface.ipAddress %}
        {% set needIpRouting = true %}
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if subinterfaces %}
    {% for sub in subinterfaces %}
      {% if sub.ipAddress %}
        {% set needIpRouting = true %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endif %}

{% if needIpRouting %}
ip routing
!
{% endif %}

{# ---------------- Switch Management SVI ---------------- #}
{% if management and management.vlan_id %}
interface Vlan{{ management.vlan_id }}
{% if management.ip_address and management.subnet_mask %}
 ip address {{ management.ip_address }} {{ management.subnet_mask }}
{% endif %}
 no shutdown
!
{% if switchType == "l2" and management.default_gateway %}
ip default-gateway {{ management.default_gateway }}
!
{% endif %}
{% if switchType == "msw" and management.default_route_next_hop %}
ip route 0.0.0.0 0.0.0.0 {{ management.default_route_next_hop }}
!
{% endif %}
{% endif %}

{# ---------------- Optional VLAN SVIs (additional interfaces) ---------------- #}
{% if vlanInterfaces %}
{% for svi in vlanInterfaces %}
  {# Avoid duplicate if user added same VLAN as management SVI #}
  {% if svi.vlan_id and (not management or (svi.vlan_id != management.vlan_id)) %}
interface Vlan{{ svi.vlan_id }}
{% if svi.description %}
 description {{ svi.description }}
{% endif %}
{% if svi.vrf %}
 ip vrf forwarding {{ svi.vrf }}
{% endif %}
{% if svi.ip_address and svi.subnet_mask %}
 ip address {{ svi.ip_address }} {{ svi.subnet_mask }}
{% endif %}
{% if svi.shutdown %}
 shutdown
{% else %}
 no shutdown
{% endif %}
!
  {% endif %}
{% endfor %}
{% endif %}

{# ---------------- Routed Interfaces ---------------- #}
{% if interfaces %}
{% for iface in interfaces %}
{% if iface.interface %}
interface {{ iface.interface }}
{% if iface.description %}
 description {{ iface.description }}
{% endif %}
{% if iface.vrf %}
 ip vrf forwarding {{ iface.vrf }}
{% endif %}
{% if iface.ip_address and iface.subnet_mask %}
 ip address {{ iface.ip_address }} {{ iface.subnet_mask }}
{% endif %}
{% if iface.duplex %}
 duplex {{ iface.duplex }}
{% endif %}
{% if iface.speed %}
 speed {{ iface.speed }}
{% endif %}
{% if iface.mpls_ip %}
 mpls ip
{% endif %}
{% if iface.crypto_map %}
 crypto map {{ iface.crypto_map }}
{% endif %}
{% if iface.shutdown %}
 shutdown
{% else %}
 no shutdown
{% endif %}
!
{% endif %}
{% endfor %}
{% endif %}

{# ---------------- Router-on-a-stick Subinterfaces ---------------- #}
{% if subinterfaces %}
{% for sub in subinterfaces %}
{% if sub.parent_interface and sub.vlan_id %}
interface {{ sub.parent_interface }}.{{ sub.vlan_id }}
{% if sub.description %}
 description {{ sub.description }}
{% endif %}
 encapsulation dot1Q {{ sub.vlan_id }}
{% if sub.vrf %}
 ip vrf forwarding {{ sub.vrf }}
{% endif %}
{% if sub.ip_address and sub.subnet_mask %}
 ip address {{ sub.ip_address }} {{ sub.subnet_mask }}
{% endif %}
!
{% endif %}
{% endfor %}
{% endif %}