!
! Routing Configuration
!

{# ------------------------- #}
{# VRF Definitions           #}
{# ------------------------- #}
{% if routing.vrfs %}
!
! VRF Configuration
{% for vrf in routing.vrfs %}
ip vrf {{ vrf.name }}
  rd {{ vrf.rd }}
  {% if vrf.route_target_export %}
  route-target export {{ vrf.route_target_export }}
  {% endif %}
  {% if vrf.route_target_import %}
  route-target import {{ vrf.route_target_import }}
  {% endif %}
exit
{% endfor %}
!
{% endif %}

{# ------------------------- #}
{# Default + Static Routes   #}
{# ------------------------- #}
{% if routing.default_route %}
ip route 0.0.0.0 0.0.0.0 {{ routing.default_route.next_hop }} {% if routing.default_route.distance %}{{ routing.default_route.distance }}{% endif %}
{% endif %}

{% for route in routing.static_routes %}
ip route {% if route.vrf %}vrf {{ route.vrf }} {% endif %}{{ route.destination }} {{ route.subnet_mask }} {% if route.next_hop %}{{ route.next_hop }}{% endif %}{% if route.exit_interface %}{{ route.exit_interface }}{% endif %} {% if route.distance %}{{ route.distance }}{% endif %}
{% endfor %}

{# ------------------------- #}
{# OSPF Configuration        #}
{# ------------------------- #}
{% if routing.ospf and routing.ospf.process_id %}
!
router ospf {{ routing.ospf.process_id }}{% if routing.ospf.vrf %} vrf {{ routing.ospf.vrf }}{% endif %}
 {% if routing.ospf.router_id %}
 router-id {{ routing.ospf.router_id }}
 {% endif %}
 {% if routing.ospf.default_originate %}
 default-information originate always
 {% endif %}
 {% for net in routing.ospf.networks %}
 network {{ net.network }} {{ net.wildcard }} area {{ net.area }}
 {% endfor %}
 {% for intf in routing.ospf.interfaces %}
  {% if intf.cost %}
 interface {{ intf.interface }}
  ip ospf cost {{ intf.cost }}
  {% endif %}
  {% if intf.priority %}
 interface {{ intf.interface }}
  ip ospf priority {{ intf.priority }}
  {% endif %}
 {% endfor %}
 {% for passive in routing.ospf.passive_interfaces %}
 passive-interface {{ passive }}
 {% endfor %}
exit
!
{% endif %}

{# ------------------------- #}
{# EIGRP Configuration       #}
{# ------------------------- #}
{% if routing.eigrp and routing.eigrp.enabled %}
!
router eigrp {{ routing.eigrp.asn }}
 {% if routing.eigrp.router_id %}
 eigrp router-id {{ routing.eigrp.router_id }}
 {% endif %}
 {% if routing.eigrp.no_auto_summary %}
 no auto-summary
 {% endif %}
 {% for net in routing.eigrp.networks %}
 network {{ net.network }} {% if net.wildcard %}{{ net.wildcard }}{% endif %}
 {% endfor %}
 {% for passive in routing.eigrp.passive_interfaces %}
 passive-interface {{ passive }}
 {% endfor %}
exit
!
{% endif %}

{# ------------------------- #}
{# BGP Configuration         #}
{# ------------------------- #}
{% if routing.bgp %}
!
router bgp {{ routing.bgp.asn }}
 {% if routing.bgp.router_id %}
 bgp router-id {{ routing.bgp.router_id }}
 {% endif %}
 bgp log-neighbor-changes
 !
 {# Global Neighbors #}
 {% for neighbor in routing.bgp.neighbors %}
 neighbor {{ neighbor.ip }} remote-as {{ neighbor.remote_as }}
  {% if neighbor.update_source %}
 neighbor {{ neighbor.ip }} update-source {{ neighbor.update_source }}
  {% endif %}
  {% if neighbor.next_hop_self %}
 neighbor {{ neighbor.ip }} next-hop-self
  {% endif %}
 {% endfor %}
 !
 {# Address Family IPv4 (Global) #}
 address-family ipv4
  {% for net in routing.bgp.networks %}
  network {{ net }}
  {% endfor %}
  {% for neighbor in routing.bgp.neighbors %}
   {% if not neighbor.activate_vpnv4 %}
  neighbor {{ neighbor.ip }} activate
   {% endif %}
  {% endfor %}
 exit-address-family
 !
 {# Address Family VPNv4 (MPLS) #}
 address-family vpnv4
  {% for neighbor in routing.bgp.neighbors %}
   {% if neighbor.activate_vpnv4 %}
  neighbor {{ neighbor.ip }} activate
  neighbor {{ neighbor.ip }} send-community extended
   {% endif %}
  {% endfor %}
 exit-address-family
 !
 {# Address Family for VRFs (VRF Lite / L3VPN) #}
 {% for vrf in routing.vrfs %}
 address-family ipv4 vrf {{ vrf.name }}
  redistribute connected
  {% if routing.ospf and routing.ospf.vrf == vrf.name %}
  redistribute ospf {{ routing.ospf.process_id }} vrf {{ vrf.name }}
  {% endif %}
 exit-address-family
 {% endfor %}
exit
!
{% endif %}

{# ------------------------- #}
{# GRE Tunnels               #}
{# ------------------------- #}
{% for tunnel in routing.gre_tunnels %}
!
interface Tunnel{{ tunnel.tunnel_number }}
 ip address {{ tunnel.tunnel_ip }} {{ tunnel.tunnel_mask }}
 tunnel source {{ tunnel.source_interface }}
 tunnel destination {{ tunnel.destination_ip }}
 {% if tunnel.tunnel_key %}
 tunnel key {{ tunnel.tunnel_key }}
 {% endif %}
 {% if tunnel.mtu %}
 ip mtu {{ tunnel.mtu }}
 {% endif %}
 {% if tunnel.adjust_mss %}
 ip tcp adjust-mss {{ tunnel.adjust_mss }}
 {% endif %}
 {% if tunnel.ipsec_profile %}
 tunnel protection ipsec profile {{ tunnel.ipsec_profile }}
 {% endif %}
exit
{% endfor %}