!
! Routing Configuration
!

{# ------------------------- #}
{# VRF Definitions           #}
{# ------------------------- #}
{% if vrfs %}
!
! VRF Configuration
{% for vrf in vrfs %}
ip vrf {{ vrf.name }}
 rd {{ vrf.rd }}
{% if vrf.route_target_export %}
 route-target export {{ vrf.route_target_export }}
{% endif %}
{% if vrf.route_target_import %}
 route-target import {{ vrf.route_target_import }}
{% endif %}
!
{% endfor %}
{% endif %}

{# ------------------------- #}
{# MPLS LDP Configuration    #}
{# ------------------------- #}
{% if vrfs and vrfs|length > 0 %}
!
! Enable MPLS for L3VPN
mpls label protocol ldp
{% if bgp and bgp.router_id %}
mpls ldp router-id Loopback0 force
{% endif %}
!
{% endif %}

{# ------------------------- #}
{# Default + Static Routes   #}
{# ------------------------- #}
{% if default_route %}
{% if default_route.exit_interface and default_route.next_hop %}
ip route 0.0.0.0 0.0.0.0 {{ default_route.exit_interface }} {{ default_route.next_hop }}{% if default_route.distance %} {{ default_route.distance }}{% endif %}
{% elif default_route.next_hop %}
ip route 0.0.0.0 0.0.0.0 {{ default_route.next_hop }}{% if default_route.distance %} {{ default_route.distance }}{% endif %}
{% elif default_route.exit_interface %}
ip route 0.0.0.0 0.0.0.0 {{ default_route.exit_interface }}{% if default_route.distance %} {{ default_route.distance }}{% endif %}
{% endif %}
!
{% endif %}

{% if static_routes %}
{% for route in static_routes %}
ip route {% if route.vrf %}vrf {{ route.vrf }} {% endif %}{{ route.destination }} {{ route.subnet_mask }} {% if route.exit_interface %}{{ route.exit_interface }} {% endif %}{% if route.next_hop %}{{ route.next_hop }}{% endif %}{% if route.distance %} {{ route.distance }}{% endif %}{% if route.name %} name {{ route.name }}{% endif %}
{% endfor %}
!
{% endif %}

{# ------------------------- #}
{# OSPF Configuration        #}
{# ------------------------- #}
{% if ospf and ospf.process_id %}
!
router ospf {{ ospf.process_id }}{% if ospf.vrf %} vrf {{ ospf.vrf }}{% endif %}
{% if ospf.router_id %}
 router-id {{ ospf.router_id }}
{% endif %}
{% if ospf.default_originate %}
 default-information originate always
{% endif %}
{% for net in ospf.networks %}
 network {{ net.network }} {{ net.wildcard }} area {{ net.area }}
{% endfor %}
{% for passive in ospf.passive_interfaces %}
 passive-interface {{ passive }}
{% endfor %}
{% if redistribute_enabled and eigrp and eigrp.enabled %}
 redistribute eigrp {{ eigrp.asn }} subnets
{% endif %}
!
{% for intf in ospf.interfaces %}
interface {{ intf.interface }}
 ip ospf {{ ospf.process_id }} area {{ intf.area }}
{% if intf.cost %}
 ip ospf cost {{ intf.cost }}
{% endif %}
{% if intf.priority is not none %}
 ip ospf priority {{ intf.priority }}
{% endif %}
!
{% endfor %}
{% endif %}

{# ------------------------- #}
{# EIGRP Configuration       #}
{# ------------------------- #}
{% if eigrp and eigrp.enabled %}
!
router eigrp {{ eigrp.asn }}
{% if eigrp.router_id %}
 eigrp router-id {{ eigrp.router_id }}
{% endif %}
{% if eigrp.no_auto_summary %}
 no auto-summary
{% endif %}
{% for net in eigrp.networks %}
 network {{ net.network }}{% if net.wildcard %} {{ net.wildcard }}{% endif %}

{% endfor %}
{% for passive in eigrp.passive_interfaces %}
 passive-interface {{ passive }}
{% endfor %}
{% if redistribute_enabled and ospf and ospf.process_id %}
{% if redistribute_metric %}
 redistribute ospf {{ ospf.process_id }} metric {{ redistribute_metric }}
{% else %}
 redistribute ospf {{ ospf.process_id }} metric 10000 100 255 1 1500
{% endif %}
{% endif %}
!
{% endif %}

{# ------------------------- #}
{# BGP Configuration         #}
{# ------------------------- #}
{% if bgp %}
!
router bgp {{ bgp.asn }}
{% if bgp.router_id %}
 bgp router-id {{ bgp.router_id }}
{% endif %}
 bgp log-neighbor-changes
 !
 {# Global Neighbors #}
{% for neighbor in bgp.neighbors %}
{% if neighbor.ip and neighbor.remote_as %}
 neighbor {{ neighbor.ip }} remote-as {{ neighbor.remote_as }}
{% if neighbor.update_source %}
 neighbor {{ neighbor.ip }} update-source {{ neighbor.update_source }}
{% endif %}
{% if neighbor.next_hop_self %}
 neighbor {{ neighbor.ip }} next-hop-self
{% endif %}
{% endif %}
{% endfor %}
 !
 {# Address Family IPv4 (Global) #}
 address-family ipv4
{% for net in bgp.networks %}
  network {{ net }}
{% endfor %}
{% for neighbor in bgp.neighbors %}
{% if neighbor.ip and not neighbor.activate_vpnv4 %}
  neighbor {{ neighbor.ip }} activate
{% endif %}
{% endfor %}
 exit-address-family
 !
 {# Address Family VPNv4 (MPLS) #}
{% set has_vpnv4_neighbors = bgp.neighbors | selectattr('activate_vpnv4', 'equalto', true) | list | length > 0 %}
{% if has_vpnv4_neighbors %}
 address-family vpnv4
{% for neighbor in bgp.neighbors %}
{% if neighbor.ip and neighbor.activate_vpnv4 %}
  neighbor {{ neighbor.ip }} activate
  neighbor {{ neighbor.ip }} send-community extended
{% endif %}
{% endfor %}
 exit-address-family
 !
{% endif %}
 {# Address Family for VRFs (VRF Lite / L3VPN) #}
{% for vrf in vrfs %}
 address-family ipv4 vrf {{ vrf.name }}
  redistribute connected
{% if ospf and ospf.vrf == vrf.name and ospf.process_id %}
  redistribute ospf {{ ospf.process_id }}
{% endif %}
 exit-address-family
{% endfor %}
!
{% endif %}

{# ------------------------- #}
{# GRE Tunnels               #}
{# ------------------------- #}
{% if gre_tunnels %}
{% for tunnel in gre_tunnels %}
!
interface Tunnel{{ tunnel.tunnel_number }}
 ip address {{ tunnel.tunnel_ip }} {{ tunnel.tunnel_mask }}
 tunnel source {{ tunnel.source_interface }}
 tunnel destination {{ tunnel.destination_ip }}
 tunnel mode gre ip
{% if tunnel.tunnel_key %}
 tunnel key {{ tunnel.tunnel_key }}
{% endif %}
{% if tunnel.mtu %}
 ip mtu {{ tunnel.mtu }}
{% endif %}
{% if tunnel.adjust_mss %}
 ip tcp adjust-mss {{ tunnel.adjust_mss }}
{% endif %}
{% if tunnel.keepalive_seconds %}
{% if tunnel.keepalive_retries %}
 keepalive {{ tunnel.keepalive_seconds }} {{ tunnel.keepalive_retries }}
{% else %}
 keepalive {{ tunnel.keepalive_seconds }}
{% endif %}
{% endif %}
{% if tunnel.ipsec_profile %}
 tunnel protection ipsec profile {{ tunnel.ipsec_profile }}
{% endif %}
!
{% endfor %}
{% endif %}
